{% extends "layout.twig" %}
{% block title %}Oops! Something went wrong!{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span6 offset3">
			<div class="hero-unit">
				<h2>Houston, we have a problem!</h2>
				<br />
				<p>
					{{message}}
				</p>
			</div>
		</div>
	</div>
{% endblock %}