{% extends "layout.twig" %}
{% block title %}Oops! Something went wrong!{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span8 offset2">
			<div class="hero-unit">
				<h1>Houston, we have a problem!</h1>
				<br />
				<p>
					Can not connect to Gearmand or Gearmand not responding.
				</p>
			</div>
		</div>
	</div>
{% endblock %}