<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>{% block title %}{% endblock %} - GearmanStatus</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="themes/media/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
			<link href="themes/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
			<link href="themes/media/css/style.css" rel="stylesheet" type="text/css" />
		{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<a class="brand" href="/"><img src="themes/media/img/cogwheels.png" /> Gearman Status</a>
			</div>
		</div>
		<div class="container-fluid">

			{% block content %}{% endblock %}

			<div id="footer">
				<img src="http://piwik.nosfire.ru/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
			</div>
		</div>
	</body>
</html>
