{% extends "layout.twig" %}
{% block title %}
Status
{% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="row-fluid">
		<div class="span8 offset2">
			<div class="hero-unit">
				Quota
			</div>
		</div>
	</div>
</div>
{% endblock %}